<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1>Our Conversion Tools</h1>
        <p>Select a tool to get started:</p>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{{ url_for('audio_converter') }}" class="btn btn-outline-warning btn-lg">Audio Converter</a>
            <a href="{{ url_for('video_converter') }}" class="btn btn-outline-warning btn-lg">Video Converter</a>
            <a href="{{ url_for('font_converter') }}" class="btn btn-outline-warning btn-lg">Font Converter</a>
            <a href="{{ url_for('archive_converter') }}" class="btn btn-outline-warning btn-lg">Archive Converter</a>
            <a href="{{ url_for('ebook_converter') }}" class="btn btn-outline-warning btn-lg">Ebook Converter</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>